# Arquivos de credenciais
firebase-key.json
email_sender.py
whatsapp_sender.py
envio_agendado.py

# Arquivos de configuração do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/

# Configurações de IDEs
.vscode/


# Arquivos do sistema
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
